name: Deploy CV Personalizado

on:
  push:
    paths:
      - 'cv-portfolio/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # No instalamos nada pesado, solo movemos archivos
      - name: Desplegar a GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./cv-portfolio  # Publica solo el contenido de tu carpeta
          publish_branch: gh-pages      # En la rama especial
          force_orphan: true
