name: Deploy CV Personalizado

on:
  push:
    paths:
      - 'cv-portfolio/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # No instalamos nada pesado, solo movemos archivos
      - name: Desplegar a GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Esto toma lo que está DENTRO de la carpeta y lo pone en la RAÍZ de gh-pages
          publish_dir: ./cv-portfolio  
          publish_branch: gh-pages
          force_orphan: true
