name: Generar CV Portafolio

on:
  push:
    paths:
      - 'cv-portfolio/**'
  workflow_dispatch:

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Instalar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Instalar Dependencias Locales
        working-directory: cv-portfolio
        # Instalamos resume-cli y el tema en la misma carpeta del proyecto
        run: |
          npm init -y
          npm install resume-cli jsonresume-theme-flat

      - name: Generar HTML
        working-directory: cv-portfolio
        # Usamos 'npx' para ejecutar el binario instalado localmente
        run: npx resume export index.html --theme flat

      - name: Desplegar a GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./cv-portfolio
          keep_files: true
