name: Update Repo List
on:
  schedule:
    - cron: '0 0 * * *' # Una vez al día
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Generate Repo List
        uses: jreleaser/repo-list-generator@v1
        with:
          username: cityny
          # Solo mostrar repositorios públicos que no sean forks
          include_forks: false
          # Formato de la lista
          template: "- [$name]($html_url) - $description"
