name: Repo List Generator
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  repo-list:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Update repo list
        uses: yi-Xu-0100/repo-list-generator@v1.1.1
        with:
          user: cityny
          max_page: 1
          allow_empty: true
